body {
  background: salmon;
  opacity: 0%;
  margin: 0;
  padding: 0;
  width: 25%;
  height: 10%;
  border-color: black;
  flex: 1;
  font: "Family Open Sans";
}
head {
  background: black;
}

title {
  width: 10%;
  padding: 0;
  margin: 0;
  color: salmon;
}

.nav1 {
  background: black;
  width: 85%;
  height: 10vh;
  align-items: right;
}

.upperpart {
  background: gray;
  padding: 10px;
  margin: 0px;
}
