* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
  background: #333333;
  margin: 0;
  padding: 0;
}

.heading {
  margin-top: 50px;
}

p.main {
  text-align: center;
}

span {
  color: #ddd;
  font-size: 4em;
  letter-spacing: 0.1em;
  font-family: sans-serif;
  display: inline-block;
  animation: animate 1s linear forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(180deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0px);
  }
}

.buttons {
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  margin-bottom: 100px;
}

.btn {
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: .7em;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  color: #3498db;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
}

.btn:hover{
  color: #fff;
}

.btn-animation:hover {
  background-color: #3498db;
  z-index: -1;
  transition: 0.8s;
}

.btn-animation::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -55px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.buttons, .page-wrap:after {
  height: 55px; 
}
